In [5]:
import pandas as pd
import collections

In [6]:
data = pd.read_csv('sample10000.csv')

In [7]:
data

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2016-12-19 20:13:04,2016-12-19 20:16:58,1,0.87,1,N,238,142,1,5.0,0.5,0.5,1.50,0.00,0.3,7.80
1,1,2016-12-27 19:28:48,2016-12-27 19:30:31,1,0.10,1,N,231,144,2,3.0,1.0,0.5,0.00,0.00,0.3,4.80
2,1,2016-12-17 00:57:37,2016-12-17 01:10:37,3,2.30,1,N,90,233,1,11.0,0.5,0.5,2.45,0.00,0.3,14.75
3,1,2016-12-01 20:32:54,2016-12-01 20:52:17,1,5.00,1,N,13,143,1,18.5,0.5,0.5,3.95,0.00,0.3,23.75
4,2,2016-12-12 19:25:14,2016-12-12 19:34:15,2,1.43,1,N,164,79,1,7.5,1.0,0.5,1.00,0.00,0.3,10.30
5,2,2016-12-14 20:16:30,2016-12-14 20:27:05,4,0.94,1,N,162,230,2,8.0,0.5,0.5,0.00,0.00,0.3,9.30
6,2,2016-12-22 10:12:29,2016-12-22 10:21:08,1,1.01,1,N,262,263,1,7.0,0.0,0.5,1.95,0.00,0.3,9.75
7,2,2016-12-30 19:11:29,2016-12-30 19:20:03,2,0.98,1,N,161,186,1,7.0,1.0,0.5,2.20,0.00,0.3,11.00
8,2,2016-12-07 09:22:07,2016-12-07 09:39:30,1,1.05,1,N,141,162,1,11.0,0.0,0.5,2.36,0.00,0.3,14.16
9,2,2016-12-24 00:52:33,2016-12-24 01:05:45,1,2.69,1,N,144,186,2,11.5,0.5,0.5,0.00,0.00,0.3,12.80
10,1,2016-12-18 03:08:16,2016-12-18 03:18:47,2,1.60,1,N,114,87,1,8.5,0.5,0.5,1.95,0.00,0.3,11.75
11,1,2016-12-22 07:39:45,2016-12-22 07:44:10,1,1.00,1,Y,125,158,2,5.5,0.0,0.5,0.00,0.00,0.3,6.30
12,2,2016-12-26 06:42:20,2016-12-26 06:48:11,1,1.61,1,N,262,238,2,7.0,0.0,0.5,0.00,0.00,0.3,7.80
13,1,2016-12-23 12:01:12,2016-12-23 12:13:52,1,0.90,1,N,163,48,2,9.0,0.0,0.5,0.00,0.00,0.3,9.80
14,2,2016-12-23 11:13:39,2016-12-23 11:29:36,2,1.47,1,N,141,161,1,11.0,0.0,0.5,2.36,0.00,0.3,14.16
15,1,2016-12-18 17:51:19,2016-12-18 17:58:44,1,0.50,1,N,162,161,2,6.0,0.0,0.5,0.00,0.00,0.3,6.80
16,1,2016-12-04 17:23:00,2016-12-04 18:24:15,1,18.60,2,N,113,132,1,52.0,0.0,0.5,10.56,0.00,0.3,63.36
17,2,2016-12-13 12:14:49,2016-12-13 12:34:30,1,1.07,1,N,90,234,1,12.5,0.0,0.5,0.50,0.00,0.3,13.80
18,2,2016-12-23 02:09:27,2016-12-23 02:15:34,1,1.24,1,N,234,68,1,6.5,0.5,0.5,1.56,0.00,0.3,9.36
19,2,2016-12-26 20:43:38,2016-12-26 21:00:08,1,1.73,1,N,186,161,2,11.5,0.5,0.5,0.00,0.00,0.3,12.80
20,2,2016-12-27 14:25:31,2016-12-27 14:40:38,5,2.31,1,N,142,43,2,12.5,0.0,0.5,0.00,0.00,0.3,13.30
21,2,2016-12-22 00:13:56,2016-12-22 00:23:06,5,2.03,1,N,234,48,1,9.0,0.5,0.5,2.06,0.00,0.3,12.36
22,2,2016-12-09 15:23:08,2016-12-09 15:26:46,1,0.74,1,N,79,107,1,4.5,0.0,0.5,1.00,0.00,0.3,6.30
23,1,2016-12-02 10:24:43,2016-12-02 10:57:56,1,9.20,1,N,162,138,1,32.0,0.0,0.5,6.55,0.00,0.3,39.35
24,2,2016-12-21 10:51:09,2016-12-21 11:01:10,1,1.46,1,N,262,237,1,8.5,0.0,0.5,1.86,0.00,0.3,11.16
25,2,2016-12-13 19:13:27,2016-12-13 19:18:45,6,0.51,1,N,68,249,1,5.0,1.0,0.5,1.36,0.00,0.3,8.16
26,2,2016-12-02 14:00:16,2016-12-02 14:06:35,2,1.10,1,N,234,162,2,6.5,0.0,0.5,0.00,0.00,0.3,7.30
27,1,2016-12-16 10:40:32,2016-12-16 11:06:18,1,6.20,1,N,166,161,1,23.5,0.0,0.5,6.00,0.00,0.3,30.30
28,1,2016-12-17 23:25:35,2016-12-17 23:31:08,1,1.20,1,N,43,239,2,6.0,0.5,0.5,0.00,0.00,0.3,7.30
29,1,2016-12-04 01:11:01,2016-12-04 01:27:29,1,2.30,1,N,232,137,1,12.0,0.5,0.5,2.65,0.00,0.3,15.95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9970,2,2016-12-01 11:49:54,2016-12-01 11:55:32,1,0.37,1,N,68,48,1,5.0,0.0,0.5,1.16,0.00,0.3,6.96
9971,1,2016-12-28 14:50:04,2016-12-28 14:57:15,1,0.70,1,N,236,262,2,6.0,0.0,0.5,0.00,0.00,0.3,6.80
9972,2,2016-12-08 20:05:32,2016-12-08 20:18:58,1,1.18,1,N,142,230,1,9.5,0.5,0.5,3.24,0.00,0.3,14.04
9973,2,2016-12-01 13:24:32,2016-12-01 13:31:36,1,0.99,1,N,230,186,2,6.5,0.0,0.5,0.00,0.00,0.3,7.30
9974,1,2016-12-29 17:31:21,2016-12-29 17:38:37,1,1.00,1,N,100,234,2,6.5,1.0,0.5,0.00,0.00,0.3,8.30
9975,1,2016-12-29 18:58:21,2016-12-29 19:12:20,1,1.40,1,N,48,233,1,10.0,1.0,0.5,1.20,0.00,0.3,13.00
9976,2,2016-12-24 15:12:53,2016-12-24 15:25:26,5,2.23,1,N,237,75,1,11.0,0.0,0.5,1.20,0.00,0.3,13.00
9977,2,2016-12-04 02:10:55,2016-12-04 02:28:27,1,5.52,1,N,114,238,1,18.5,0.5,0.5,3.96,0.00,0.3,23.76
9978,1,2016-12-31 18:04:21,2016-12-31 18:13:50,2,1.70,1,N,261,113,1,8.5,0.0,0.5,2.30,0.00,0.3,11.60
9979,2,2016-12-10 20:12:50,2016-12-10 20:24:04,2,1.11,1,N,100,246,2,8.5,0.5,0.5,0.00,0.00,0.3,9.80
9980,1,2016-12-17 13:52:04,2016-12-17 14:00:52,1,1.10,1,N,234,158,1,7.0,0.0,0.5,1.00,0.00,0.3,8.80
9981,2,2016-12-14 10:49:27,2016-12-14 12:02:38,5,9.59,1,N,138,48,1,49.5,0.0,0.5,11.17,5.54,0.3,67.01
9982,2,2016-12-12 07:11:16,2016-12-12 07:12:22,1,0.50,1,N,236,75,1,3.5,0.0,0.5,0.86,0.00,0.3,5.16
9983,2,2016-12-15 20:12:21,2016-12-15 20:34:26,1,2.60,1,N,114,233,1,15.0,0.5,0.5,1.25,0.00,0.3,17.55
9984,2,2016-12-11 00:40:40,2016-12-11 01:10:21,2,9.34,1,N,233,244,1,31.0,0.5,0.5,8.08,0.00,0.3,40.38
9985,2,2016-12-27 13:01:37,2016-12-27 13:12:49,3,2.30,1,N,229,79,1,10.0,0.0,0.5,2.16,0.00,0.3,12.96
9986,1,2016-12-14 20:27:48,2016-12-14 20:39:31,1,0.90,1,N,230,186,2,8.5,0.5,0.5,0.00,0.00,0.3,9.80
9987,1,2016-12-10 15:05:36,2016-12-10 15:14:14,1,1.60,1,N,113,231,1,8.0,0.0,0.5,1.00,0.00,0.3,9.80
9988,1,2016-12-28 11:42:14,2016-12-28 12:09:46,1,17.10,2,N,161,132,2,52.0,0.0,0.5,0.00,5.54,0.3,58.34
9989,1,2016-12-18 18:55:00,2016-12-18 19:11:04,1,2.00,1,N,141,170,1,12.0,0.0,0.5,2.55,0.00,0.3,15.35
9990,1,2016-12-14 19:19:59,2016-12-14 19:44:51,1,8.20,1,N,138,229,1,26.5,1.0,0.5,6.75,5.54,0.3,40.59
9991,1,2016-12-04 01:51:31,2016-12-04 02:03:43,3,2.20,1,N,79,233,1,10.0,0.5,0.5,2.25,0.00,0.3,13.55
9992,1,2016-12-09 12:06:06,2016-12-09 12:11:31,1,0.70,1,N,43,239,1,5.5,0.0,0.5,1.55,0.00,0.3,7.85
9993,2,2016-12-20 17:01:48,2016-12-20 17:17:04,1,2.57,1,N,238,237,1,12.5,1.0,0.5,3.58,0.00,0.3,17.88
9994,2,2016-12-08 12:14:44,2016-12-08 12:54:44,1,3.46,1,N,148,162,1,24.5,0.0,0.5,5.06,0.00,0.3,30.36
9995,1,2016-12-29 19:26:12,2016-12-29 19:56:56,4,3.70,1,N,261,100,2,20.0,1.0,0.5,0.00,0.00,0.3,21.80
9996,1,2016-12-28 11:15:32,2016-12-28 11:27:50,3,2.20,1,N,264,264,2,10.5,0.0,0.5,0.00,0.00,0.3,11.30
9997,1,2016-12-13 07:23:50,2016-12-13 07:26:25,1,0.50,1,N,161,161,1,4.0,0.0,0.5,5.00,0.00,0.3,9.80
9998,1,2016-12-04 18:26:06,2016-12-04 18:32:21,1,1.30,1,N,230,90,2,6.5,0.0,0.5,0.00,0.00,0.3,7.30
9999,2,2016-12-30 22:04:46,2016-12-30 22:13:39,2,0.99,1,N,164,100,2,7.0,0.5,0.5,0.00,0.00,0.3,8.30

1) Using the data dictionary, check how many passengers in the sample paid for their ride with cash.

A numeric code signifying how the passenger paid for the trip.  
1 = Credit card   
2 = Cash  
3 = No charge   
4 = Dispute  
5 = Unknown   
6 = Voided trip

In [10]:
collections.Counter(data['payment_type'].tolist())[2]

3543